<div class="field-authors">
  <div class="field-chips">
    <div class="chip" *ngFor="let author of authors; let i = index">
      <div class="chip-text">{{author}}</div>
      <div class="chip-close" (click)="deleteAuthor(i)">
        <svg class="chip-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path>
        </svg>
      </div>
    </div>

    <input
      class="chip-input"
      (input)="getAuthors($event)"
      (blur)="touchValue()"
      [(ngModel)]="authorsInput"
      autocomplete="off"
      type="text"
      name="authors-input"
      placeholder="New authors..."
    />
  </div>

  <div class="author-select" *ngIf="authorList$ | async as authorList">
    <div *ngIf="authorList.length; else authorNotFound">
      <div class="author-select-item" (click)="chooseAuthor(author.name)" *ngFor="let author of authorList">
        {{author.name}}
      </div>
    </div>
    <ng-template #authorNotFound>
      <div class="authors-not">Not found authors</div>
    </ng-template>
  </div>
</div>
