<header class="header">
  <div class="container">
    <div class="header__container">
      <app-logo></app-logo>
      <div class="user">
        <div *ngIf="userIsAuth" class="user__login">
          <fa-icon [icon]="faUser"></fa-icon>
          {{ userName }}
        </div>
        <button *ngIf="userIsAuth" class="user__logout" (click)="logoutUser()">
          <fa-icon [icon]="faSign"></fa-icon>
          Log out
        </button>
        <a [routerLink]="['/login']" *ngIf="!userIsAuth">Login</a>
      </div>
    </div>
  </div>
</header>
