.header {
  background: var(--dark);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;

  &__login {
    margin-right: 24px;

    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }

  &__logout {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 1px;

    &:hover {
      opacity: .7;
    }
  }

  fa-icon {
    padding-right: 5px;
  }
}
