<header class="header">
  <div class="container">
    <div class="header__container">
      <app-logo></app-logo>
      <div class="user">
        <div *ngIf="isAuth$ | async" class="user__login">
          <fa-icon [icon]="faUser"></fa-icon>
          {{ (currentUser$ | async)?.name?.first }} {{ (currentUser$ | async)?.name?.last }}
        </div>
        <button *ngIf="isAuth$ | async" class="user__logout" (click)="logoutUser()">
          <fa-icon [icon]="faSign"></fa-icon>
          Log out
        </button>
        <a [routerLink]="['/login']" *ngIf="!(isAuth$ | async)">Login</a>
      </div>
    </div>
  </div>
</header>
