.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  @media (max-width: 480px) {
    width: 100%;
  }

  &-form {
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);
    padding: 24px;
    margin: 20px;
  }
}

.form-field {
  margin-bottom: 15px;

  &__title {
    margin-bottom: 5px;
    color: #474A59;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    color: #5681EE;
    font-size: 12px;
  }

  &--control {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
