<div class="course-item" [appBorder]="course.date" [ngClass]="{topRated: course.isTopRated}">
  <div class="course-item__content">
    <div class="course-item__title">
      {{course.name | uppercase}}
      <fa-icon [icon]="faStar" *ngIf="course.isTopRated"></fa-icon>
    </div>
    <div class="course-item__text">{{course.description}}</div>
  </div>
  <div class="course-item__left">
    <div class="course-item__time">
      <span class="course-item__duration">
        <fa-icon [icon]="faClock"></fa-icon> {{course.length | duration}}
      </span>
      <span class="course-item__date">
        <fa-icon [icon]="faCalendar"></fa-icon> {{course.date | date: 'dd/MM/yyyy'}}
      </span>
    </div>
    <div class="course-item__control">
      <button class="btn btn-small" [routerLink]="['/courses', course.id]">
        <fa-icon [icon]="faPen"></fa-icon>
        Edit
      </button>
      <button class="btn btn-small" (click)="deleteCourse(course.id)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
        Delete
      </button>
    </div>

  </div>
</div>
