.course {
  margin-bottom: 40px;

  &-list {
    margin-top: 20px;
    
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  &-more {
    text-align: center;

    .btn {
      width: 100%;
    }
  }
}
