<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <div class="container-form">
    <h2>{{title}}</h2>
    <div class="form-field">
      <div class="form-field__title">Title:</div>
      <input class="input" [(ngModel)]="initialValue.title" type="text" name="text" placeholder="Text input" />
    </div>
    <div class="form-field">
      <div class="form-field__title">Description:</div>
      <textarea class="textarea" [(ngModel)]="initialValue.description" name="description" placeholder="Add description"></textarea>
    </div>
    <div class="form-field">
      <div class="form-field__title">Date:</div>
      <app-input-text [value]="initialValue.create_data"></app-input-text>
    </div>
    <div class="form-field">
      <div class="form-field__title">Duration:</div>
      <app-input-duration [value]="initialValue.duration"></app-input-duration>
    </div>
    <div class="form-field">
      <div class="form-field__title">Authors:</div>
      <input class="input input-300" type="text" name="authors" placeholder="authors" />
    </div>
    <div class="form-field form-field--control-right">
      <button type="submit" class="btn btn-grey" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-green" (click)="save()">Save</button>
    </div>
  </div>
</div>
