<form [formGroup]="form">

  <div class="form-field" [class.form-error]="isControlInvalid('name')">
    <div class="form-field__title">Title:</div>
    <input class="input" formControlName="name" type="text" name="name" autocomplete="off" placeholder="Text input"/>
    <div class="form-error-message" *ngIf="isControlInvalid('name')">
      <span>{{errorMessages.name}}</span>
    </div>
  </div>

  <div class="form-field" [class.form-error]="isControlInvalid('description')">
    <div class="form-field__title">Description:</div>
    <textarea class="textarea" formControlName="description" name="description"
              placeholder="Add description"></textarea>
    <div class="form-error-message" *ngIf="isControlInvalid('description')">
      <span>{{errorMessages.description}}</span>
    </div>
  </div>

  <div class="form-field" [class.form-error]="isControlInvalid('date')">
    <div class="form-field__title">Date:</div>
    <app-input-text appDateValidator formControlName="date"></app-input-text>
    <div class="form-error-message" *ngIf="isControlInvalid('date')">
      <span>{{errorMessages.date}}</span>
    </div>
  </div>

  <div class="form-field" [class.form-error]="isControlInvalid('length')">
    <div class="form-field__title">Duration:</div>
    <app-input-duration appLengthValidator formControlName="length"></app-input-duration>
    <div class="form-error-message" *ngIf="isControlInvalid('length')">
      <span>{{errorMessages.length}}</span>
    </div>
  </div>

  <div class="form-field" [class.form-error]="isControlInvalid('authors')">
    <div class="form-field__title">Authors:</div>
    <app-input-authors formControlName="authors"></app-input-authors>
    <div class="form-error-message" *ngIf="isControlInvalid('authors')">
      <span>{{errorMessages.authors}}</span>
    </div>
  </div>

  <div class="form-field form-field--control-right">
    <button type="button" class="btn btn-grey" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-green" (click)="onSave()" [disabled]="form.invalid">Save</button>
  </div>

</form>
