.search {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  &__container {
    margin-bottom: 10px;
  }

  &__input {
    width: 240px;
    margin-right: 12px;
  }

  &__btn {
    background: #67a300;
    border: 1px solid #67a300;
  }
}
